@font-face {
  font-family: 'iconfont';  /* Project id 4092168 */
  src: url('//at.alicdn.com/t/c/font_4092168_pizoo1ie0w.woff2?t=1685426765262') format('woff2'),
       url('//at.alicdn.com/t/c/font_4092168_pizoo1ie0w.woff?t=1685426765262') format('woff'),
       url('//at.alicdn.com/t/c/font_4092168_pizoo1ie0w.ttf?t=1685426765262') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e6af";
}

.icon-my:before {
  content: "\e78b";
}

.icon-home:before {
  content: "\e617";
}

.icon-order:before {
  content: "\e608";
}

